<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>SOAP test</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="dfaefb">  <td>19/12/16 14:45:33</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MailServiceTest.setUp()[pri:0, instance:com.epam.service.soap.MailServiceTest@39529185]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@112797691</td>   <td></td> </tr>
<tr bgcolor="dfaefb">  <td>19/12/16 14:45:33</td>   <td>891</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MailServiceTest.testSendMail()[pri:0, instance:com.epam.service.soap.MailServiceTest@39529185]">&gt;&gt;testSendMail</td> 
<td>&nbsp;</td>  <td>main@112797691</td>   <td></td> </tr>
<tr bgcolor="dfaefb">  <td>19/12/16 14:45:34</td>   <td>1115</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MailServiceTest.testGetAllMails()[pri:0, instance:com.epam.service.soap.MailServiceTest@39529185]">testGetAllMails</td> 
  <td>main@112797691</td>   <td></td> </tr>
<tr bgcolor="dfaefb">  <td>19/12/16 14:45:34</td>   <td>1137</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MailServiceTest.testDeleteMail()[pri:0, instance:com.epam.service.soap.MailServiceTest@39529185]">&lt;&lt;testDeleteMail</td> 
<td>&nbsp;</td>  <td>main@112797691</td>   <td></td> </tr>
<tr bgcolor="dfaefb">  <td>19/12/16 14:45:34</td>   <td>1210</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MailServiceTest.testSendMail()[pri:0, instance:com.epam.service.soap.MailServiceTest@39529185]">&gt;&gt;testSendMail</td> 
<td>&nbsp;</td>  <td>main@112797691</td>   <td></td> </tr>
<tr bgcolor="dfaefb">  <td>19/12/16 14:45:34</td>   <td>1254</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MailServiceTest.testGetMailsBySender()[pri:0, instance:com.epam.service.soap.MailServiceTest@39529185]">testGetMailsBySender</td> 
  <td>main@112797691</td>   <td></td> </tr>
<tr bgcolor="dfaefb">  <td>19/12/16 14:45:34</td>   <td>1282</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MailServiceTest.testDeleteMail()[pri:0, instance:com.epam.service.soap.MailServiceTest@39529185]">&lt;&lt;testDeleteMail</td> 
<td>&nbsp;</td>  <td>main@112797691</td>   <td></td> </tr>
<tr bgcolor="dfaefb">  <td>19/12/16 14:45:34</td>   <td>1317</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MailServiceTest.testSendMail()[pri:0, instance:com.epam.service.soap.MailServiceTest@39529185]">&gt;&gt;testSendMail</td> 
<td>&nbsp;</td>  <td>main@112797691</td>   <td></td> </tr>
<tr bgcolor="dfaefb">  <td>19/12/16 14:45:34</td>   <td>1358</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MailServiceTest.testGetMailsBySubject()[pri:0, instance:com.epam.service.soap.MailServiceTest@39529185]">testGetMailsBySubject</td> 
  <td>main@112797691</td>   <td></td> </tr>
<tr bgcolor="dfaefb">  <td>19/12/16 14:45:34</td>   <td>1376</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MailServiceTest.testDeleteMail()[pri:0, instance:com.epam.service.soap.MailServiceTest@39529185]">&lt;&lt;testDeleteMail</td> 
<td>&nbsp;</td>  <td>main@112797691</td>   <td></td> </tr>
</table>
