<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.epam.service.rest.MailServiceTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testPing</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testSendingMail</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testGettingMailBySubject</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testDeletingMail</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testGettingMailBySenderEmail</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testGettingAllMail</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
