<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="dfaefb">  <td>19/12/16 16:48:48</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MailServiceTest.setUp()[pri:0, instance:com.epam.service.rest.MailServiceTest@2145b572]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@173099767</td>   <td></td> </tr>
<tr bgcolor="dfaefb">  <td>19/12/16 16:48:49</td>   <td>818</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MailServiceTest.testPing()[pri:0, instance:com.epam.service.rest.MailServiceTest@2145b572]">testPing</td> 
  <td>main@173099767</td>   <td></td> </tr>
</table>
