<h2>Methods that were not run</h2><table>
<tr><td>com.epam.service.rest.MailServiceTest.testGettingAllMail</td></tr>
<tr><td>com.epam.service.rest.MailServiceTest.testDeletingMail</td></tr>
<tr><td>com.epam.service.rest.MailServiceTest.testGettingMailBySubject</td></tr>
<tr><td>com.epam.service.rest.MailServiceTest.testGettingMailBySenderEmail</td></tr>
<tr><td>com.epam.service.rest.MailServiceTest.testSendingMail</td></tr>
</table>