<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>REST test</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7a84b7">  <td>19/12/16 16:25:17</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MailServiceTest.setUp()[pri:0, instance:com.epam.service.rest.MailServiceTest@2145b572]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@173099767</td>   <td></td> </tr>
<tr bgcolor="7a84b7">  <td>19/12/16 16:26:08</td>   <td>51460</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MailServiceTest.testDeletingMail()[pri:0, instance:com.epam.service.rest.MailServiceTest@2145b572]">testDeletingMail</td> 
  <td>main@173099767</td>   <td></td> </tr>
<tr bgcolor="7a84b7">  <td>19/12/16 16:26:08</td>   <td>51466</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MailServiceTest.testDeletingMail()[pri:0, instance:com.epam.service.rest.MailServiceTest@2145b572]">&lt;&lt;testDeletingMail</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="7a84b7">  <td>19/12/16 16:26:08</td>   <td>51473</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MailServiceTest.testDeletingMail()[pri:0, instance:com.epam.service.rest.MailServiceTest@2145b572]">&lt;&lt;testDeletingMail</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="7a84b7">  <td>19/12/16 16:26:08</td>   <td>51488</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MailServiceTest.testDeletingMail()[pri:0, instance:com.epam.service.rest.MailServiceTest@2145b572]">&lt;&lt;testDeletingMail</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="7a84b7">  <td>19/12/16 16:26:08</td>   <td>51495</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MailServiceTest.testDeletingMail()[pri:0, instance:com.epam.service.rest.MailServiceTest@2145b572]">&lt;&lt;testDeletingMail</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="7a84b7">  <td>19/12/16 16:26:08</td>   <td>51501</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MailServiceTest.testDeletingMail()[pri:0, instance:com.epam.service.rest.MailServiceTest@2145b572]">&lt;&lt;testDeletingMail</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="7a84b7">  <td>19/12/16 16:26:08</td>   <td>51537</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MailServiceTest.testDeletingMail()[pri:0, instance:com.epam.service.rest.MailServiceTest@2145b572]">&lt;&lt;testDeletingMail</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="7a84b7">  <td>19/12/16 16:26:08</td>   <td>51469</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MailServiceTest.testGettingAllMail()[pri:0, instance:com.epam.service.rest.MailServiceTest@2145b572]">testGettingAllMail</td> 
  <td>main@173099767</td>   <td></td> </tr>
<tr bgcolor="7a84b7">  <td>19/12/16 16:26:08</td>   <td>51476</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MailServiceTest.testGettingMailBySenderEmail()[pri:0, instance:com.epam.service.rest.MailServiceTest@2145b572]">testGettingMailBySenderEmail</td> 
  <td>main@173099767</td>   <td></td> </tr>
<tr bgcolor="7a84b7">  <td>19/12/16 16:26:08</td>   <td>51492</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MailServiceTest.testGettingMailBySubject()[pri:0, instance:com.epam.service.rest.MailServiceTest@2145b572]">testGettingMailBySubject</td> 
  <td>main@173099767</td>   <td></td> </tr>
<tr bgcolor="7a84b7">  <td>19/12/16 16:26:08</td>   <td>51498</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MailServiceTest.testPing()[pri:0, instance:com.epam.service.rest.MailServiceTest@2145b572]">testPing</td> 
  <td>main@173099767</td>   <td></td> </tr>
<tr bgcolor="7a84b7">  <td>19/12/16 16:25:18</td>   <td>1194</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MailServiceTest.testSendingMail()[pri:0, instance:com.epam.service.rest.MailServiceTest@2145b572]">&gt;&gt;testSendingMail</td> 
<td>&nbsp;</td>  <td>main@173099767</td>   <td></td> </tr>
<tr bgcolor="7a84b7">  <td>19/12/16 16:26:08</td>   <td>51469</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MailServiceTest.testSendingMail()[pri:0, instance:com.epam.service.rest.MailServiceTest@2145b572]">&gt;&gt;testSendingMail</td> 
<td>&nbsp;</td>  <td>main@173099767</td>   <td></td> </tr>
<tr bgcolor="7a84b7">  <td>19/12/16 16:26:08</td>   <td>51475</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MailServiceTest.testSendingMail()[pri:0, instance:com.epam.service.rest.MailServiceTest@2145b572]">&gt;&gt;testSendingMail</td> 
<td>&nbsp;</td>  <td>main@173099767</td>   <td></td> </tr>
<tr bgcolor="7a84b7">  <td>19/12/16 16:26:08</td>   <td>51491</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MailServiceTest.testSendingMail()[pri:0, instance:com.epam.service.rest.MailServiceTest@2145b572]">&gt;&gt;testSendingMail</td> 
<td>&nbsp;</td>  <td>main@173099767</td>   <td></td> </tr>
<tr bgcolor="7a84b7">  <td>19/12/16 16:26:08</td>   <td>51498</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MailServiceTest.testSendingMail()[pri:0, instance:com.epam.service.rest.MailServiceTest@2145b572]">&gt;&gt;testSendingMail</td> 
<td>&nbsp;</td>  <td>main@173099767</td>   <td></td> </tr>
<tr bgcolor="7a84b7">  <td>19/12/16 16:26:08</td>   <td>51531</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MailServiceTest.testSendingMail()[pri:0, instance:com.epam.service.rest.MailServiceTest@2145b572]">&gt;&gt;testSendingMail</td> 
<td>&nbsp;</td>  <td>main@173099767</td>   <td></td> </tr>
<tr bgcolor="7a84b7">  <td>19/12/16 16:26:08</td>   <td>51532</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MailServiceTest.testSendingMail()[pri:0, instance:com.epam.service.rest.MailServiceTest@2145b572]">testSendingMail</td> 
  <td>main@173099767</td>   <td></td> </tr>
</table>
